.Profile
{
   margin-left: 300px;
   margin-right: 300px;
   padding:10px;
   height: 100%;
   text-align: center;
}
.details
{

}
#profilePhoto
{
    height: 300px;
    width: 300px;
    border-radius: 5px;
}